<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TicTacToe 3.0 - Player-to-Player Gaming powered by WebRTC</title>
  <meta name="description" content="TicTacToe 3.0 Game that enables players to interact directly with each other through WebRTC. Player can also bet with Smart Contracts enabled escrow." />
  <meta name="keywords" content="tictactoe, tic tac toe, webrtc application, webrtc, ethereum, ethereum application, smart contracts, smart contracts betting, escrow smart contracts, ethereum game, ethereum and webrtc, dominik schiener" />
  <meta name="author" content="Dominik Schiener" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500' type='text/css'>
</head>
