<template name="home">
  <header>
    <nav class="navbar__home">
      <ul class="navbar__elements">
        <li><button class="navbar__button"><a href="">Play Now</a></button></li>
        <li><a class="navbar__about" href="#">About</a></li>
      </ul>
    </nav>
  </header>

  {{> Template.dynamic template=landing}}
  {{> Template.dynamic template=what}}
</template>

<template name="landing">
  <section class="landing__section">
    <div class="landing__content">
      <h2 class="landing__subtitle">TicTacToe powered by WebRTC and Ethereum</h2>
      <h1 class="landing__title">P2P Gaming</h1>
      <h2 class="landing__subtitle">Challenge your Friends, completely Player-to-Player</h2>
    </div>
  </section>
</template>

<template name="what">
  <section class="what__section">
    <div class="what__header">
      <h1 class="what__title">What is Peered?</h1>
      <p class="what__subtitle">It's finally time for a direct Player-to-Player Gaming Experience! Peered makes this possible by using some fancy new Web Technologies such as WebRTC and Ethereum. Through Peered, Gamers are directly connected with each other and transfer data between their browsers, with no servers involved.</p>
    </div>
    <div class="what__gamer"></div>
    <div class="what__content">
      <div class="what__webrtc col-xs-6">
        <h1>Hello</h1>
      </div>
      <div class="what__ethereum col-xs-6"></div>
    </div>
  </section>
</template>
