<template name="tictactoe">
  {{#with gameData}}
    <!-- Created by Michael Mammoliti -->
    <div id='wrapper'>
      <div id='ui'>
        <div class='player'>
          <img class="top_image" src='/images/cross.png' />
          <div class='name right'>
            {{#with playerData game.peer}}
              <img class="name_picture" src="{{profile.avatar}}" />
              <p>{{profile.name}}</p>
            {{/with}}
          </div>
        </div>
        <div id='points'>{{score.playerZero}} - {{score.playerOne}}</div>
        <div class='player'>
          <img class="top_image" src='/images/circle.png' />
          <div class='name'>
            {{#with playerData game.opponent}}
              <img class="name_picture" src="{{profile.avatar}}" />
              <p>{{profile.name}}</p>
            {{/with}}
          </div>
        </div>
      </div>

      <div id='tictactoe'>
        <!-- Waiting view -->
        {{#unless game.ready}}
          {{> notReady}}
        {{/unless}}

        <!-- Winning view -->
        {{#if game.won}}
          {{> gameWon}}
        {{/if}}

        <!-- GameOver view -->
        {{#unless game.open}}
          {{> gameOver}}
        {{/unless}}

        <!-- Generate TicTacToe game -->
        <ul class="game_tiles">
          {{#each gameElements}}
            {{#if isGameMove this ../gameMoves}}
              <li><button id='cell-{{this}}' class='cell {{findPlayer this ../gameMoves}}'>&nbsp;</button></li>
            {{else}}
              <li><button id='cell-{{this}}' class='cell unchecked'>&nbsp;</button></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  {{/with}}
</template>
