.back__home {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #451268;
  font-size: 18px;
  margin: 20px;
}
.back__home:hover {
  cursor: pointer;
  opacity: 0.6;
}

.join__left,
.join__right {
  height: 100%;
}

.join__left {
  background-color: #451268;
}

/**
  * JOIN RIGHT
  **/

.join__right {
  background-color: #FFBA33;
}

.login__buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login__box {
  align-self: center;
  background-color: #fff;
  width: 350px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 0px 5px 17px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 17px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 17px -4px rgba(0,0,0,0.75);
}

.login__title {
  align-self: center;
  background-color: #451268;
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.login__title p {
  color: #ffb11a;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

/**
  *   Login Buttons
  **/

.option {
  align-self: center;
  margin: 15px 0;
}

.login__options {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.twitter_login,
.facebook_login,
.google_login,
.github_login {
  align-self: center;
  height: 45px;
  width: 150px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.twitter_logo,
.facebook_logo,
.google_logo,
.github_logo {
  height: 45px;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  float: left;
  line-height: 45px;
  text-align: center;
}

.twitter_logo {
  margin-top: 10px;
  background: #189bcb;
}
.twitter_login {
  margin-top: 10px;
  background: #1bb2e9;
}

.facebook_logo {
  background: #0064ab;
}
.facebook_login {
  background: #0079ce;
}

.google_logo {
  background: #c64333;
}
.google_login {
  background: #DD4B39;
}

.github_logo {
  background: #131313;
  margin-bottom: 10px;
}
.github_login {
  background: #2B2B2B;
  margin-bottom: 10px;
}
