<template name="join">
  <div class="join__left col-xs-6">
    <div class="back__home">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span>Home</span>
    </div>
  </div>
  <div class="join__right col-xs-6">
    <div class="login__buttons">
      <div class="login__title">
        <p>Join Now</p>
      </div>
      <div class="login__box">
        <div class="login__options">
          <div class="option">
            <span class="twitter_logo">
              <i class="fa fa-twitter"></i>
            </span>
            <button class="btn twitter_login">
              Twitter
            </button>
          </div>
          <div class="option">
            <span class="facebook_logo">
              <i class="fa fa-facebook"></i>
            </span>
            <button class="btn facebook_login">
              Facebook
            </button>
          </div>
          <div class="option">
            <span class="google_logo">
              <i class="fa fa-google"></i>
            </span>
            <button class="btn google_login">
              Google
            </button>
          </div>
          <div class="option">
            <span class="github_logo">
              <i class="fa fa-github"></i>
            </span>
            <button class="btn github_login">
              Github
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
