<template name="join">
  <div class="join__left col-xs-6">
    <div class="back__home">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span>Home</span>
    </div>
  </div>
  <div class="join__right col-xs-6">
    <div class="login__buttons">
      <div class="login__title">
        <p>Join Now</p>
      </div>
      <div class="login__box">
        <div class="login__options">
          <button class="btn btn-success">est</button>
        </div>
      </div>
    </div>
  </div>
</template>
